<!DOCTYPE html>
{% extends 'base.html' %}
{% block content %}
<div class="container">
	<h1>Youkoso! Kore wa Store</h1>
	<h4>That just says welcome to the store!</h4>

	<div class="row">
		{% for book in eBooks %}
		<div class="col-sm-12 col-md-6 col-lg-3 mx-1 my-3 d-flex align-items-stretch">
			<div class="card">
				<img src="{{ book.url }}" class="card-img-top img-fluid" alt="...">
			    <div class="card-body d-flex flex-column justify-content-between">
			        <h5 class="card-title">{{ book.title }}</h5>
				    <p class="card-text">{{ book.price }}</p>
			        <!--<p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>-->
					<a href="#" class="btn btn-primary">Add to cart</a>
			    </div>
			</div>
		</div>

		<!--<p>{{ book.title }}</p>
		<img src="{{ book.url }}">-->
		{% endfor %}
	</div>
	<div class="test-div"></div>

</div>

{% endblock %}